# ALSA Xen drivers

menuconfig SND_XEN
	bool "Xen sound devices"
	depends on XEN
	default y
	help
	  Support for sound devices of Xen hypervisor.

if SND_XEN

config SND_XEN_FRONTEND
	tristate "Xen virtual sound front-end driver"
	depends on SND_PCM && SND_XEN
	select XEN_XENBUS_FRONTEND
	default n
	help
	  This driver implements a front-end for the Xen
	  para-virtualized sound.

	  To compile this driver as a module, choose M here: the module
	  will be called snd_xen_front.

endif	# SND_XEN

